body {
  margin: 0;
  line-height: 1.5;
  background-color: #f8fafd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.square {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: black;
}

.white {
  background-color: whitesmoke;
}

.container {
  display: flex;
  justify-content: center;
}

.board {
  border: 10px solid rgb(69, 69, 69);
  border-radius: 5px;
  margin-top: 60px;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: auto;
}

.piece {
  border-radius: 50%;
  width: 75%;
  height: 75%;
}

.piece-border-default {
  border: 3px solid gray;
  box-shadow: 0 0 5px 2px gray inset;
}

.piece-border-selected {
  border: 3px solid green;
  box-shadow: 0 0 5px 2px green inset;
}

.available {
  box-shadow: 0 0 10px 5px green inset;
}

.info {
  position: fixed;
  top: 60px;
  left: 50px;
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: blueviolet;
  padding: 30px;
  border-radius: 20px;
}

.info div {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.whites {
  color: white;
}

.endgame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 200px;
  background-color: rgba(88, 29, 144, 0.98);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}

.endgame button {
  margin-top: 40px;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: azure;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.endgame button:hover {
  background-color: black;
  color: azure;
}